<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="NOP Commerce">
    <listeners>
        <listener class-name="com.nopcommerce.utilities.Reporting" />
    </listeners>
    <test name="NOP Commerce Test">
        <parameter name="browser" value="chrome" />
        <parameter name="headless" value="true" />
            <classes>
                <class name="com.nopcommerce.testCases.TC_Homepage">
                    <methods>
                        <include name="homepageTest" />
                    </methods>
                </class>
            </classes>
    </test>
</suite>