<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Software_QA_Engineer">
    <listeners>
        <listener class-name="com.softwareqa.utilities.Reporting" />
    </listeners>
    <test name="Software QA Portfolio Test">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="com.softwareqa.testCases.TC_ContactMessage_001" />
                <class name="com.softwareqa.testCases.TC_BlogSubscribe_001" />
            </classes>
        </parameter>
    </test>
</suite>